@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Libre+Barcode+39+Text&family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.contactBg{
    backdrop-filter: brightness(50%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.contactContainer{
    background-color: #A30000;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    flex-direction: column;

    h2{
        font-family: "Monomaniac One";
        font-size: 48px;
        z-index: 5;
    }

    h1{
        font-family: "Libre Barcode 39 Text";
        font-size: 148px;
        position: absolute;
        opacity: 25%;
        z-index: 1;
    }

    button{
        width: 46px;
        height: 46px;
        border-radius: 25px;
        border: 5px solid white;
        background-color: black;
        color: white;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        right: 12.5%;
    }

    .tooltip{
        list-style: none;
        background-color: #550000;
        padding: 20px;
        width: 500px;
        display: flex;
        justify-content: center;
        z-index: 1;
        box-shadow: 0px 4px 8px black;
    }

    .tooltipText{
            position: absolute;
            background-color: black;
            bottom: 30%;
            padding: 20px;
            font-size: 16px;
            border-radius: 20px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.25s;
        }

    .tooltip:hover .tooltipText{
        visibility: visible;
        opacity: 1;
    }
}