.footer{
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    height: 686px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    h1{
        font-size: 64px;
        font-family: "Libre Barcode 39 Text";
        width: 640px;
    }
    .footerNav{
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 600px;
        gap: 20px;
        p{
            font-family: "Monomaniac One";
            font-size: 24px;
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;
        }
    }
}