.topBackgroundRed{
    background-color: rgb(163, 0, 0);
    height: 146px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family: "Libre Barcode 39 Text";
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: normal;
    }
}

.topBackgroundGreen{
    background-color: #5BE0AB;
    height: 146px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family: "Libre Barcode 39 Text";
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: normal;
    }
}
